.additionally {
  padding-top: 26px;
  padding-bottom: 33px;
  overflow-x: hidden;
}

.additionally__wrapper {
  position: relative;
}

.additionally__title {
  font-family: $fontOswald;
  display: inline-block;
  vertical-align: baseline;
  font-weight: 400;
  width: auto;
  text-align: left;
  background-color: $white;
  margin-top: 0;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 36px;
  color: #111111;
  position: relative; // нужен для того чтоб перекрыть полосы
  padding-right: 10px;
  padding-left: 10px;
}

.additionally__title::after,
.additionally__title::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 100vw; // чтоб тянулось на всю ширину экрана
  height: 3px;
  margin-top: 2px;
  background: #68b738;
  z-index: -1;
}

.additionally__title::after {
  left: 20px;
}

.additionally__title::before {
  right: 0;
}


.additionally__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.additionally__item {
  padding-top: 14px;
  padding-bottom: 18px;
  border-top: 1px solid $lightgrey;
}

.additionally__item-vitamin {
  border-bottom: 1px solid $lightgrey;
}

.additionally__button {
  width: 100%;
  margin-top: 14px;
}

.additionally__item-title {
  font-family: $fontOswald;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 11px;
}

.additionally__item-tab {
  font-family: $fontLato;
  font-size: 14px;
  line-height: 14px;
  width: 100%;
  margin-bottom: 12px;
  border-spacing: 0;
}

.additionally__item-tab--price {
  text-align: end;
}

.additionally__promotion {
  background-image: url("../img/gift-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $green;
  text-align: center;
  padding-top: 65px;
  padding-bottom: 25px;
  background-position: center center;
  background-size: 100% 100%;
  margin-top: 37px;
}

.additionally__promotion-text {
  color: $white;
  font-family: $fontLato;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 13px 55px 7px 55px;
}

@media (min-width: $tablet-width) {
  .additionally__list {
    margin-bottom: 70px;
    border-left: 1px solid $lightgrey;
    border-right: 1px solid $lightgrey;
  }

  .additionally {
    padding-top: 51px;
    padding-bottom: 75px;
  }

  .additionally__promotion-text {
    text-align: left;
    width: 175px;
    padding-top: 15px;
  }

  .additionally__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 40px;
    margin-bottom: 80px;
  }

  .additionally__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 26px 40px 28px 40px;
  }

  .additionally__promotion {
    display: flex;
    background-image: url("../img/gift-tablet@2x.jpg");
    align-items: center;
    text-align: center;
    padding: 40px 56px 45px 78px;
    justify-content: space-between;
  }

  .additionally__promotion__picture {
    margin-top: 6px;
  }

  .additionally__item-title {
    font-size: 20px;
    line-height: 20px;
    width: 30%;
    margin-bottom: 25px;
  }

  .additionally__item-tab {
    width: 40%;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 18px;
  }

  .additionally__item-tab--product {
    text-align: end;
  }

  .additionally__button {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .additionally__inner {
    display: flex;
    justify-content: center;
  }

  .additionally__promotion {
    background-image: url("../img/gift-desktop@1x.jpg");
    max-width: 245px;
    height: 288px;
    padding: 0;
    flex-direction: column;
    margin-top: 0;
  }

  .additionally__item-tab {
    font-size: 16px;
    line-height: 20px;
    margin-top: 2px;
    width: 285px;
    margin-right: 39px;
  }

  .additionally__list {
    width: 895px;
    margin-right: 80px;
    border: 0;
  }

  .additionally__item {
    display: grid;
    grid-template-columns: 161px 163px 244px;
    padding-top: 15px;
    padding-left: 1px;
    padding-bottom: 14px;
    padding-right: 0;
  }

  .additionally__item-title {
    display: flex;
    width: 245px;
    margin: 0 81px 0 0;
    align-items: center;
    text-align: center;
  }

  .additionally__item-tab--price {
    width: 41px;
    text-align: left;
  }

  .additionally__button {
    width: 245px;
  }

  .additionally__title {
    margin-left: 0;
  }

  .additionally {
    padding-top: 56px;
    padding-bottom: 17px;
  }

  .additionally__item-tab--product {
    text-align: left;
  }

  .additionally__promotion__picture {
    margin-top: 58px;
  }

  .additionally__promotion-text {
    text-align: center;
    margin-bottom: 33px;
  }
}
