.additionally {
  padding-top: 26px;
  padding-bottom: 35px;
  overflow-x: hidden;
}

.additionally__wrapper {
  position: relative;
}

.additionally__title {
  font-family: $fontOswald;
  display: inline-block;
  vertical-align: baseline;
  font-weight: 400;
  width: auto;
  text-align: left;
  background-color: $white;
  margin-top: 0;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 36px;
  color: $black;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: -20px;
  margin-right: -20px;
}

.additionally__title::after,
.additionally__title::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 100vw;
  height: 3px;
  margin-top: 2px;
  background: $green;
  z-index: -1;
}

.additionally__title::after {
  left: 20px;
}

.additionally__title::before {
  right: 0;
}


.additionally__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.additionally__item {
  padding-top: 14px;
  padding-bottom: 18px;
  border-bottom: 1px solid $lightgrey;
}

.additionally__button {
  width: 100%;
  margin-top: 14px;
}

.additionally__item-title {
  font-family: $fontOswald;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 11px;
}

.additionally__item-tab {
  font-family: $fontLato;
  font-size: 14px;
  line-height: 14px;
  width: 100%;
  margin-bottom: 12px;
  border-spacing: 0;
}

.additionally__item-price {
  text-align: end;
}

.additionally__promotion {
  position: relative;
  text-align: center;
  padding-top: 53px;
  padding-bottom: 25px;
  margin-top: 38px;
  background-image: url("../img/gift-mobile@1x.jpg");
  background-color: $green;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.additionally__promotion-text {
  color: $white;
  font-family: $fontLato;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 26px 55px 7px 55px;
}

@media (min-width: $tablet-width) {
  .additionally__list {
    margin-bottom: 48px;
    border-top: 1px solid $lightgrey;
    border-bottom: 1px solid $lightgrey;
    border-left: 1px solid $lightgrey;
    border-right: 1px solid $lightgrey;
  }

  .additionally {
    padding-top: 50px;
    padding-bottom: 75px;
  }

  .additionally__promotion-text {
    text-align: left;
    width: 175px;
    padding-top: 15px;
  }

  .additionally__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-left: 40px;
    margin-left: 0;
    margin-bottom: 77px;
    padding-right: 40px;
  }

  .additionally__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 26px 40px 28px 40px;
  }

  .additionally__item:last-child {
    border-bottom: none;
  }

  .additionally__item-price {
    width: 88px;
  }

  .additionally__promotion {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 41px 56px 45px 78px;
    justify-content: space-between;
    margin-top: 68px;
  }

  .additionally__promotion__picture {
    margin-top: 6px;
  }

  .additionally__item-title {
    font-size: 20px;
    line-height: 20px;
    width: 30%;
    margin-bottom: 25px;
  }

  .additionally__item-tab {
    width: 40%;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 18px;
  }

  .additionally__item-product {
    text-align: end;
  }

  .additionally__button {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .additionally__inner {
    display: flex;
    justify-content: center;
  }

  .additionally__promotion {
    max-width: 245px;
    margin-bottom: 70px;
    padding: 0;
    flex-direction: column;
    margin-top: 0;
  }

  .additionally__item-tab {
    font-size: 16px;
    line-height: 20px;
    width: auto;
    margin: 0;
  }

  .additionally__list {
    width: 895px;
    margin-right: 80px;
    border: 0;
  }

  .additionally__item:first-child {
    border-top: 1px solid $lightgrey;
  }

  .additionally__item:last-child {
    border-bottom: 1px solid $lightgrey;
  }

  .additionally__item {
    display: grid;
    grid-template-columns: 286px 285px 244px;
    padding-left: 2px;
    padding-right: 3px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .additionally__item-title {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    width: auto;
  }

  .additionally__item-price {
    width: 41px;
    text-align: left;
  }

  .additionally__button {
    width: 245px;
  }

  .additionally__title {
    margin-left: -40px;
    margin-bottom: 85px;
  }

  .additionally {
    padding-top: 56px;
    padding-bottom: 17px;
  }

  .additionally__item-product {
    text-align: left;
  }

  .additionally__promotion__picture {
    margin-top: 58px;
  }

  .additionally__promotion-text {
    text-align: center;
    margin-bottom: 40px;
  }
}
