.catalog__list {
  list-style-type: none;
}

.catalog__list-item {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ededed;
}

.product-wrapper {
  display: flex;
  margin-bottom: 17px;
}

.product-button {
  width: 100%;
}

.product__tab {
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  width: 100%;
  border-spacing: 0;
}

.product__cell-title {
  text-align: left;
}

.product__cell-value {
  text-align: right;
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  width: 100px;
  margin-top: 21px;
  margin-bottom: 12px;
}

.product__description {
  width: 50%;
}

.product__picture {
  text-align: center;
  width: 50%;
}

.title-block {
  padding-top: 14px;
  padding-bottom: 29px;
}

.title-block__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #000000;
  margin: 0;
}

.product {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ededed;
}

.product__image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.catalog__footer {
  text-align: center;
  padding-top: 26px;
  padding-bottom: 25px;
}

.catalog__footer-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 8px;
}

.catalog__footer-text {
  font-family: ("Arial"), sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 21px;
}

.catalog__footer-button {
  font-family: ("Oswald"), inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background-color:#f2f2f2;
  border: none;
  width: 100%;
}


@media (min-width: $tablet-width) {
  .title-block {
    padding-top: 52px;
    padding-bottom: 60px;
  }

  .catalog {
    padding-top: 26px;
    border: 0;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
  }

  .catalog__list-item {
    width: 33%;
    margin-right: 60px;
    margin-bottom: 60px;
  }

  .product {
    padding-bottom: 40px;
    padding-left: 38px;
    padding-right: 37px;
    margin-left: 0;
    margin-right: 0;
    background-image: linear-gradient(to bottom, transparent 0, transparent 77px, #f2f2f2 77px, #f2f2f2 100%);
  }

  .product-wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 33px;
  }

  .product__picture {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 200px;
  }

  .product__description {
    width: 100%;
  }

  .product__title {
    font-size: 20px;
    text-align: center;
    width: 150px;
    margin: 34px auto 15px;
  }

  .catalog__footer {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 37px 40px;
    margin-top: 77px;
    border: 1px solid #e6e6e6;
  }

  .catalog__footer-title {
    font-size: 20px;
    width: 160px;
    margin-top: 49px;
    margin-bottom: 25px;
  }

  .catalog__footer-text {
    font-size: 16px;
    line-height: 1.2em;
    width: 190px;
    margin-bottom: 85px;
  }

  .product__tab {
    font-family: ("Lato");
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
  }

  .product__cell {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: $desktop-width) {
  .product {
    margin-right: 80px;
  }
}
