.catalog__list {
  list-style-type: none;
}

.catalog__list-item {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid $lightgrey;
}

.title-block {
  padding-top: 14px;
  padding-bottom: 29px;
}

.title-block__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $black;
  margin: 0;
}


.catalog__footer {
  text-align: center;
  padding-top: 26px;
  padding-bottom: 25px;
}

.catalog__footer-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
  margin-top: 20px;
  margin-bottom: 8px;
}

.catalog__footer-text {
  font-family: $fontLato, sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 21px;
}

.catalog__footer-button {
  font-family: $fontOswald, inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $black;
  background-color: $smokywhite;
  border: none;
  width: 100%;
}


@media (min-width: $tablet-width) {
  .title-block {
    padding-top: 52px;
    padding-bottom: 60px;
  }

  .catalog {
    padding-top: 26px;
    border: 0;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
  }

  .catalog__list-item {
    width: 33%;
    margin-right: 60px;
    margin-bottom: 60px;
  }

  .catalog__footer {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 37px 40px;
    margin-top: 77px;
    border: 1px solid $lightgrey;
  }

  .catalog__footer-title {
    font-size: 20px;
    width: 160px;
    margin-top: 49px;
    margin-bottom: 25px;
  }

  .catalog__footer-text {
    font-size: 16px;
    line-height: 1.2em;
    width: 190px;
    margin-bottom: 85px;
  }
}
