.footer {
  background-color: $smokywhite;
}

.footer__container {
  padding-left: 20px;
  padding-right: 20px;
}

.footer___acaemy-title {
  font-family: $fontLato;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.footer__block-logo {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 11px;
}

.footer__block-social {
  width: 100%;
}

.footer__social-list {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0 12px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.footer__item {
  text-align: center;
  width: 55px;
}

.footer__block-htmlAcademy {
  padding-top: 14px;
  padding-bottom: 22px;
  width: 100%;
}

.footer___acaemy-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .footer {
    padding-top: 22px;
    padding-bottom: 50px;
    align-items: center;
  }

  .footer__container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .footer__wrapper {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }

  .footer__block-logo {
    width: 22%;
    text-align: left;
    padding-top: 30px;
  }

  .footer__block-social {
    width: 50%;
  }

  .footer__social-list {
    border: none;
    margin-top: 10px;
    padding-left: 22px;
  }

  .footer__block-htmlAcademy {
    width: 22%;
    padding-top: 30px;
    margin-left: 36px;
  }
}

@media (min-width: $desktop-width) {
  .footer__social-list {
    border: none;
  }
}
