.footer {
  background-color: $smokywhite;
}

.footer__container {
  padding-left: 20px;
  padding-right: 20px;
}

.footer___academy-title {
  font-family: $fontLato;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.footer__block-logo {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 11px;
}

.footer__block-logo:hover {
  opacity: 0.7;
}

.footer__block-logo:focus {
  opacity: 0.5;
}

.footer__block-social {
  width: 100%;
}

.footer__social-list {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0 12px;
  border-top: 1px solid $lightgrey;
  border-bottom: 1px solid $lightgrey;
}

.footer__item {
  text-align: center;
  width: 55px;
}

.footer__item-vk:hover {
  stroke: $green;
}

.footer__item-youtube:hover {
  stroke: $green;
}

.footer__item-telegram:hover {
  stroke: $green;
}

.footer__item-vk:focus {
  opacity: 0.5;
}

.footer__item-youtube:focus {
  opacity: 0.5;
}

.footer__item-telegram:focus {
  opacity: 0.5;
}

.footer__block-htmlAcademy {
  padding-top: 14px;
  padding-bottom: 22px;
  width: 100%;
}

.footer___academy-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  text-decoration: none;
}

.footer___academy-icon {
  fill: $grey;
}

.footer___academy-link:hover + .footer___academy-icon {
  fill: $green;
}

.footer___academy-link:focus {
  opacity: 0.5;
}

@media (min-width: $tablet-width) {
  .footer {
    padding-top: 17px;
    padding-bottom: 25px;
    align-items: center;
  }

  .footer__container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .footer___academy-link {
    justify-content: space-between;
  }

  .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__block-logo {
    width: 22%;
    text-align: left;
    padding-top: 30px;
  }

  .footer__block-social {
    width: 50%;
  }

  .footer__social-list {
    border: none;
    margin-top: 10px;
    padding-left: 1px;
  }

  .footer__block-htmlAcademy {
    width: 23%;
    padding-top: 33px;
  }
}

@media (min-width: $desktop-width) {
  .footer__social-list {
    border: none;
  }

  .footer___academy-title {
    padding-right: 26px;
  }

  .footer {
    padding-top: 25px;
  }

  .footer___academy-link {
    justify-content: flex-end;
  }
}
