.form__options {
  padding-top: 10px;
  padding-bottom: 28px;
}

.form {
  overflow-x: hidden;
  margin-top: 26px;
}

.form__set-options {
  padding-bottom: 8px;
}

.form__input-block {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.form__set-label {
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  color: $black;
}

.form__set-input {
  font-family: $fontOswald;
  width: 100%;
  margin-left: 13px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 11px 15px;
  border: 1px solid $platinum;
  outline: 0;
}

.form__set-input:hover {
  border: 1px solid $platinum;
}

.form__set-input:focus {
  border: 2px solid $grey;
}

.form__set-contact {
  padding-top: 28px;
}

.form__set-contact--head {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 20px;
  margin-bottom: -15px;
}

.form__set-title {
  display: inline-block;
  vertical-align: baseline;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $black;
  max-width: 205px;
  margin: 0;
  background-color: $white;
  position: relative;
  padding-right: 1px;
  padding-left: 1px;
  margin-bottom: 35px;
  margin-top: 0;
}

.form__set-title::after,
.form__set-title::before {
  content: "";
  position: absolute;
  top: 25%;
  width: 100vw;
  height: 3px;
  margin-top: 2px;
  background: $green;
  z-index: -1;
}

.form__set-title::after {
  left: 20px;
}

.form__set-title::before {
  right: 0;
}

.form__set-foot {
  margin-top: 15px;
}

.form__set-block {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 12px;
}

.form__head-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-top: -3px;
  position: relative;
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 18px;
  background: $white;
  max-width: 205px;
  margin-left: -20px;
  padding-left: 20px;
}

.form__head-title::after,
.form__head-title::before {
  content: "";
  position: absolute;
  top: 30%;
  width: 100vw;
  height: 3px;
  margin-top: 2px;
  background: $green;
  z-index: -1;
}

.form__head-title::after {
  left: 20px;
}

.form__head-title::before {
  right: 0;
}

.form__set-data {
  font-family: $fontOswald;
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 10px 10px 13px;
  border: 1px solid $lightgrey;
  outline: 0;
  width: 100%;
  margin-left: 13px;
}

.form__set-data:focus {
  border: 1px solid $grey;
}

.form__contact-icon {
  position: absolute;
  top: 15px;
  right: 12px;
  stroke: $black;
}

.form__set-data:focus + .form__contact-icon {
  stroke: $green;
}

.form__set-text {
  width: 94%;
  height: 136px;
  margin-top: 20px;
  resize: none;
  font-family: $fontOswald;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid $platinum;
  outline: 0;
  padding-top: 10px;
  padding-left: 13px;
}

.form__button-block {
  text-align: center;
}

.form__button {
  width: 100%;
  margin-bottom: 12px;
}

.form__set-comment {
  margin-top: 26px;
}

.form__check-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid $black;
  border-radius: 50%;
}

.form__note {
  font-family: $fontLato;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form__options {
    padding-top: 7px;
    padding-right: 41px;
    padding-left: 41px;
    padding-bottom: 48px;
  }

  .form__head-title {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    margin-bottom: 6px;
    max-width: none;
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: -40px;
  }

  .form__set-title::after,
  .form__set-title::before {
    margin-top: 17px;
  }

  .form__set-options {
    padding-bottom: 53px;
  }

  .form__set-text {
    width: 97%;
    margin-top: 81px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding-left: 19px;
    padding-bottom: 28px;
  }

  .form__input-block {
    padding-bottom: 8px;
  }

  .form__set-label {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }

  .form__set-input {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-left: 11px;
    padding: 10px 20px;
  }

  .form__set-program {
    padding: 23px 27px;
    margin-bottom: 65px;
  }

  .form__set-contact {
    margin-bottom: 65px;
    margin-top: 41px;
  }

  .form__set-title {
    display: inline;
    margin-bottom: 76px;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    margin-left: -3px;
  }

  .form__set-foot {
    margin-top: 68px;
  }

  .form__set-block {
    margin-bottom: 20px;
  }


  .form__set-data {
    padding-left: 18px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }

  .form__set-comment {
    margin-bottom: 61px;
  }

  .form__button-block {
    display: flex;
    align-items: center;
  }

  .form__button {
    width: 284px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-right: 60px;
    padding: 15px 10px 13px 10px;
  }

  .form__note {
    padding-bottom: 17px;
    font-family: $fontLato;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
  }

  .form {
    margin-top: 57px;
  }

  .form__head-title::after {
    top: 50%;
  }

  .form__head-title::before {
    top: 50%;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 67px;
    margin-top: 62px;
  }

  .form__options {
    padding: 0;
  }

  .form__set-text {
    margin-top: 71px;
  }

  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form__set-options {
    width: 46.5%;
  }

  .form__set-program {
    width: 46.5%;
  }

  .form__set-contact {
    width: 100%;
    margin-top: -27px;
  }

  .form__set-comment {
    width: 100%;
    margin-bottom: 49px;
    margin-top: -13px;
  }

  .form__set-foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__set-block {
    width: 46.5%;
  }

  .form__button {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 570px;
    margin-right: 79px;
  }

  .form__head-title {
    margin-bottom: 6px;
  }
}
