.form-program {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid $platinum;
}

.form-program__list {
  padding: 0;
  list-style: none;
  margin: 20px 0 20px;
}

.form-program__list__item {
  margin-bottom: 12px;
}

.form-program__check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-program__check {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  width: 100%;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}

.form-program__check::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid $platinum;
  border-radius: 50%;
}

.form-program__check::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 9px;
  display: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $green;
}

.form-program__check-input[type="radio"]:checked + .form-program__check::after {
  display: block;
}

@media (min-width: $tablet-width) {
  .form-program {
    padding: 0;
    margin: 0;
  }

  .form-program__list {
    margin-bottom: 22px;
  }

  .form-program__check::before {
    width: 40px;
    height: 40px;
    margin-left: -13px;
  }

  .form-program__check::after {
    width: 18px;
    height: 18px;
    top: 12px;
    left: 0;
  }

  .form-program__check {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-left: 40px;
  }
}

@media (min-width: $desktop-width) {
  .form-program {
    width: 46.5%;
  }

  .form-program__list {
    margin-top: 24px;
  }
}
