.form-additionally {
  padding-bottom: 16px;
  margin-top: 17px;
}

.form-additionally__head {
  position: relative;
  margin-bottom: -15px;
}

.form-additionally__title {
  display: inline-block;
  vertical-align: baseline;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $black;
  margin: 0;
  background: $white;
  position: relative;
  margin-bottom: 35px;
  margin-top: 0;
  z-index: 1;
}

.form-additionally__title::after,
.form-additionally__title::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 100vw;
  height: 3px;
  margin-top: 2px;
  background: $green;
  z-index: -1;
}

.form-additionally__title::after {
  left: 20px;
}

.form-additionally__title::before {
  right: 0;
}

.form-additionally__list {
  list-style-type: none;
  margin-top: 28px;
  padding: 0;
}

.form-additionally__item {
  margin-bottom: 11px;
}

.form-additionally__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-additionally__input:checked + .form-additionally__label::before {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
}

.form-additionally__label {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}

.form-additionally__label::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid $platinum;
}

.form-additionally__label:focus {
  opacity: 0.5;
}

@media (min-width: $tablet-width) {
  .form-additionally__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    z-index: 1;
  }

  .form-additionally__label::before {
    width: 40px;
    height: 40px;
    left: -17px;
  }

  .form-additionally__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 64px;
    margin-bottom: 8px;
  }

  .form-additionally__item {
    width: 45%;
    margin-bottom: 29px;
  }

  .form-additionally__label {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-left: 15px;
  }
}

@media (min-width: $desktop-width) {
  .form-additionally {
    width: 100%;
  }

  .form-additionally__list {
    display: flex;
    flex-wrap: wrap;
    column-count: 4;
    margin-bottom: 16px;
  }

  .form-additionally__item {
    width: 243px;
  }
}
