
.intro__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $black;
  margin-top: 10px;
  margin-bottom: 30px;
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
  margin-bottom: 47px;
}

.intro__item {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
}

.intro__item__text {
  font-family: $fontLato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  width: calc(100% - 80px);
  margin: 0;
  margin-top: 3px;
}

.intro__item__picture {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: $green;
  align-items: center;
  box-sizing: inherit;
}

.intro__img {
  width: 30px;
  height: 30px;
}

.intro__item:not(:last-child) {
  margin-bottom: 20px;
}


@media (min-width: $tablet-width) {
  .intro {
    margin-top: 46px;
  }

  .intro__item:not(:last-child) {
    margin-bottom: 0;
  }

  .intro__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 62px;
    grid-row-gap: 82px;
    margin-bottom: 30px;
  }

  .intro__title {
    font-size: 60px;
    margin-bottom: 70px;
  }

  .intro__item__picture {
    width: 80px;
    height: 80px;
    margin-bottom: 34px;
  }

  .intro__item__text {
    width: 255px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0;
  }

  .intro__item {
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 300px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
  }

  .intro__item--1 {
    background-image: url("../img/intro__item--1.svg");
    background-size: 71px 228px;
    background-position: 127px 0;
  }

  .intro__item--2 {
    background-image: url("../img/intro__item--2.svg");
    background-size: 112px 228px;
    background-position: 123px 0;
  }

  .intro__item--3 {
    background-image: url("../img/intro__item--3.svg");
    background-size: 107px 228px;
    background-position: 127px 0;
  }

  .intro__item--4 {
    background-image: url("../img/intro__item--4.svg");
    background-size: 115px 228px;
    background-position: 127px 0;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    margin-top: 40px;
  }

  .intro__title {
    margin-bottom: 70px;
  }

  .intro__list {
    display: flex;
    gap: 70px;
  }

  .intro__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
