.program__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.program__list-item {
  position: relative;
  padding: 21px;
  margin-top: 20px;
  background-color: $smokywhite;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
}

.program__picture {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $green;
  margin-top: -4px;
}

.program__icon {
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: hidden;
}

.program__item__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $black;
  width: calc(100% - 70px);
  margin-top: 10px;
  margin-bottom: 12px;
  margin-left: 18px;
}

.program__item__intro {
  font-family: $fontLato;
  color: $grey;
  width: 100%;
  padding-bottom: 21px;
  margin-top: 17px;
  margin-bottom: 0;
  border-bottom: 1px solid $lightgrey;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.program__item__link {
  position: relative;
  align-items: center;
  display: flex;
  padding-top: 20px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
}

.program__item__link:focus {
  opacity: 0.5;
}

.program__link-title {
  z-index: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
  width: auto;
  padding-right: 15px;
  margin: 0;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
}

.program__slim {
  position: absolute;
  left: 5px;
  top: -1px;
}

.program__pro {
  position: absolute;
  top: 15px;
  width: 68px;
  left: -13px;
}

@media (min-width: $tablet-width) {
  .program__link-title {
    padding-right: 23px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }

  .program__list-item {
    padding: 76px 60px 55px 52px;
    margin-top: 0;
    margin-bottom: 31px;
  }

  .program__picture {
    position: absolute;
    right: 62px;
    top: 94px;
    width: 202px;
    height: 202px;
    margin-left: auto;
  }

  .program__icon--slim {
    left: 30px;
    bottom: 16px;
    width: 70%;
    height: 100%;
  }

  .program__item__title {
    font-size: 36px;
    line-height: 37px;
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 0;
  }

  .program__item__intro {
    font-family: $fontLato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    border: none;
    padding-bottom: 32px;
    padding-right: 24px;
  }

  .program__item__intro--pro {
    padding-bottom: 57px;
  }

  .program__item__title,
  .program__item__intro,
  .program__item__link {
    width: calc(100% - 223px);
  }

  .program__icon--pro {
    left: -35px;
    bottom: 1px;
    width: 133%;
    height: 100%;
  }

  .program__icon--vector {
    width: 140px;
    height: 194px;
  }

  .program__slim {
    width: 140px;
    height: 194px;
    left: 30px;
    top: -10px;
  }

  .program__pro {
    width: 279px;
    height: 112px;
    top: 40px;
    left: -30px;
  }
}

@media (min-width: $desktop-width) {
  .program__list {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
  }

  .program__list-item {
    width: 39.3%;
    padding: 77px 40px 58px 50px;
  }

  .program__slim {
    width: 70px;
    height: 97px;
    left: 14px;
    top: -4px;
  }

  .program__pro {
    top: 19px;
    height: 56px;
    left: -85px;
  }

  .program__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .program__picture {
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: -183px;
  }

  .program__item__title {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 162px);
    margin-bottom: 0;
  }

  .program__item__intro {
    width: 100%;
    padding-bottom: 8px;
    margin-top: 71px;
  }
}
