.search {
  background-color: $smokywhite;
}

.search__wrapper {
  box-sizing: inherit;
  padding-left: 20px;
  padding-right: 20px;
}

.search__inner {
  padding-top: 28px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
}

.search__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
  width: 40%;
  margin: 0;
}

.search__address {
  font-family: $fontLato;
  font-style: normal;
  color: $grey;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  width: 50%;
}


.search__map {
  height: 362px;
}

@media (min-width: $tablet-width) {
  .search__inner {
    padding: 64px 50px 59px;
  }

  .search__title {
    width: 160px;
    font-size: 20px;
    line-height: 25px;
  }

  .search__address {
    width: 170px;
    text-align: right;
  }

  .search__map {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .search {
    position: relative;
  }

  .search__inner {
    padding-left: 58px;
  }

  .search__wrapper {
    position: absolute;
    z-index: 1;
    top: 96px;
    left: 110px;
    width: 570px;
    background-color: $white;
  }

  .search__inner {
    display: none;
  }
}
