img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0 auto;
  min-height: 100%;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

iframe {
  border: none;
}
