@import "global/variables.scss";
@import "global/fonts.scss";
@import "global/global.scss";
@import "global/page.scss";
@import "blocks/button.scss";
@import "blocks/main-header.scss";
@import "blocks/head-block.scss";
@import "blocks/programs.scss";
@import "blocks/intro.scss";
@import "blocks/demo.scss";
@import "blocks/footer.scss";
@import "blocks/search.scss";
@import "blocks/catalog.scss";
@import "blocks/additionally.scss";
@import "blocks/form.scss";
@import "blocks/product.scss";
@import "blocks/form-program.scss";
@import "blocks/form-additionally.scss";
@import "blocks/form-title.scss";
@import "blocks/slider-range.scss";
@import "blocks/title-block.scss";
@import "blocks/main-nav.scss";
@import "blocks/container.scss";
@import "blocks/visually-hidden.scss";
